.header{
    height: 450px;
    width: 100%;
    margin: 30px auto;
    background: url('/header_img.png') no-repeat center;
    background-size: cover;
    position: relative;
    border-radius:10px;
    overflow: hidden;
} 

.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
}

.header-contents h2{
    font-weight: 500;
    color: #fff;
    font-size: 4rem;
}
.header-contents p {
    color: #fff;
    font-size: 1rem;
}

.header-contents button {
    border: none;
    color: var(--gay);
    font-weight: 500;
    padding: 1rem 2rem;
    background-color: white;
    font-size: 1rem;
    border-radius: 50px;
}

@media (max-width:1050px){

    .header-contents h2{
        font-size: 3rem;
    }
    .header{
        height: 450px;
    }

    .header-contents{
        max-width: 65%; 
    }
}



@media (max-width:750px){
    .header{
        height: 300px;
    }
    .header-contents h2{
        font-size: 2.5rem;
    }

    .header-contents{
        max-width: 55%;
    } 

    .header-contents p {
        display: none;
    } 

    
    .header-contents button{
        padding: 0.8rem 1.5rem;
    }
}